.flex {
        display:flex;
        text-align: center;

}

.options{
    padding: 1rem;
}

.checkbox-container{
    display: flex;
    justify-content: space-between;
}

.vertical {
    display: flex;
    flex-direction: column;
}